@import "variables";

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 15px;

  h2 {
    font-size: 2.3rem;
    color: $text-color;
    border: double red;
    padding: 8px;
  }
}
