$bg-color: #dee5ec;
$text-color: #09131a;
$display-bg-color: #858693;
$display-text-color: #fff;
$numbers-bg-color: #e0e0e0;
$numbers-active-bg-color: #bdb9b9;
$numbers-hover-bg-color: #e0d8d8;
$operators-bg-color: #f5913e;
$operators-hover-bg-color: #f17b1a;
$operators-active-bg-color: #da6b10;
$border-color: #cecece;
